@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "title-font";
  src: url(/YujiMai-Regular.ttf);
}
.mincho {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
